
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE  html>
<html>

<head>
    <style>
        h1{
            text-align:center;
            position:fixed;
        }
        body::after {
            background-image: url('../../Slike/Plaza7.jpg');
            content: "";
            opacity: 0.3;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background-size: cover;
            height: 100%;
        }
    </style>
</head>

<body>
    <h1>ADMINISTRATORSKI PANEL</h1>


    <div style="top:14%;left:10%;position:fixed;">
        <p>Dodajte menadzera:</p>
        <form action="~/Administrator/DodajMenadzera" method="post">

            <table>

                <tr>
                    <td>Korisnicko ime:</td>
                    <td><input type="text" name="KorisnickoIme" /></td>
                </tr>

                <tr>
                    <td>Lozinka:</td>
                    <td><input type="password" name="Lozinka" /></td>
                </tr>

                <tr>
                    <td>Ime:</td>
                    <td><input type="text" name="Ime" /></td>
                </tr>

                <tr>
                    <td>Prezime:</td>
                    <td><input type="text" name="Prezime" /></td>
                </tr>

                <tr>
                    <td>Pol:</td>
                    <td>
                        <input list="pol" name="Pol" />
                        <datalist id="pol">
                            <option value="MUSKO"></option>
                            <option value="ZENSKO"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td>E-mail:</td>
                    <td><input type="email" name="Email" /></td>
                </tr>

                <tr>
                    <td>Datum rodjenja:</td>
                    <td><input type="date" name="Datum" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Registruje se" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

